body {
  color: black;
  background-color: #F2F3F2;
  display: flex;
  justify-content: center;
  }
  
table {
  width: 50%;
  border-collapse: collapse;
  background: #fff;
  color: rgb(0, 0, 0);
  margin-top: 5%;
  box-shadow: 0 1px 1rem rgba(0, 70, 248, 0.26);
  }
  
td, th {
  padding: 8px;
  text-align: left;
  }
  
tr {
  border: 2px solid rgb(224, 224, 224);
}
  
th {
  background: #1F00DA;
  font-weight: bold;
  color: white;
}

#myModal{
  display: none;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  border: 0.5px solid #888;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  margin-top: 5px;
  border-radius: 50%;
  color: #ffffff;
  float: right;
  font-size: 20px;
  font-weight: bold;
  background: blue;
  padding-left: 6.5px;
  padding-right: 6.5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background: rgb(231, 0, 0);
}


.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #fff;
  color: black;
}
.modal-footer a {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}
