.comment-container {
  position: relative;
  max-width: 700px; 
  margin: 50px auto;
  overflow: hidden;
  font-family: serif;
}
.comment-container .commentor {
  position: absolute;
  top: 10px;
  left: 10px;
}
.comment-container .commentor .myavatar {
  border-radius: 50%;
  width: 40px;
}
.comment-container .commentor .name {
  margin-left: 5px;
  transform: translateY(-100px);
  display: inline-block;
  color: #2d69eb;
  transition: all 0.3s;
}
.comment-container .placeholder {
  position: absolute;
  top: 30%;
  font-size: 18px;
  color: #999;
  left: 60px;
  margin-top: -15px;
}
.comment-container textarea {
  height: 70px; 
  transition: all 0.3s;
  font-size: 18px;
  box-sizing: border-box;
  color: #fff;
  width: 100%;
}
.comment-container .btns {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.comment-container.toggled .commentor .name {
  transform: translateY(0);
}
.comment-container.toggled textarea {
  height: 200px;
  color: #444;
  padding-top: 60px;
  padding-bottom: 40px;
}
.comment-container.toggled .placeholder {
  display: none;
}
.comment-container.toggled .btns {
  opacity: 1;
  visibility: visible;
}

/* @media only screen and (max-width : 600px) {
  .comment-container {
    width: 100%;
  }
} */

.form-control {
  z-index: 999;
  position: relative;
  background: transparent;
}

.placeholder {
  margin-top: -30px;
}

.btn-default {
  font-family: 'Marat Sans Regular'; 
  width: 20%;
  outline: none;
  border: 1px solid #0045F8;
  color: white;
  padding: 5px;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  background: #0045F8;
  border-radius: 3px; 
  margin-left: 80%;
}

.myavatar {
  margin-top: 0px;
}

@media only screen and (max-width:441){
  .comment-container{
    width: 90%;
    
  }

  .form-control {
    margin-left: 5%;
    width: 100%;
  }
}


.avatar {
  width: 50px;
  height: 50px;
  margin-left: -42px;
  border-radius: 50%;
}

.v-avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.v-avatar img {
  height: 50px; 
  width: 50px;
  border-radius: 50%;
  display: inline-flex;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.v-sheet {
  display: block;
  border-radius: 2px;
  position: relative;
}


img {
  border-style: none;
}

.headline {
  font-weight: 400;
  letter-spacing: normal ;
  font-size: 24px ;
  line-height: 32px ;
}

.name {
  font-size: 20px ;
  font-weight: 700;
  line-height: 1 ;
  letter-spacing: 0.02em ;
}

.caption {
  font-size: 16px;
  color: black;
  margin-left: 8px;
}

.theme--light.v-card,
.theme--light.v-sheet {
  box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.027);
  background-color: #fff;
  border-color: #fff;
  color: black;
  margin-top: 20px;
  padding-bottom: 5px;
}


.wrapper {
  overflow: auto;
}

.comment {
  overflow-y: auto;
  margin-left: 12px;
  margin-right: 16px;
}

.comment p {
  font-size: 18px;
  margin: 1px;
}

.displayName {
  margin-left: 4px;
  color: #0045F8;
}

.card,
.card {
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 640px) {
  .comment-container {
    width: 90%;
  }
  .comments {
    padding: 32px;
  }
}

.new-comment-container{
  margin-top: 30px;
}

.separator {
  margin-top: 30px;
}
